<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IRIS 예측 결과</title>
</head>
<body>
    <h1>IRIS</h1>
    <p>꽃받침 길이: {{ sepal_length }} </p>
    <p>꽃받침 폭: {{ sepal_width }} </p>
    <p>꽃잎 길이: {{ petal_length }}</p>
    <p>꽃잎 폭: {{ petal_width }}</p>
    <p>예측된 품종: {{ species_prediction }}</p>
    <p><a href="/">Home</a></p>
    {% if species_prediction == 'setosa' %}
        <img src="{% static 'img/setosa.png' %}" alt="Setosa Image">
    {% elif species_prediction == 'versicolor' %}
        <img src="{% static 'img/versicolor.png' %}" alt="Versicolor Image">
    {% elif species_prediction == 'virginica' %}
        <img src="{% static 'img/virginica.png' %}" alt="Virginica Image">
    {% else %}
        <p> No Image Available</p>
    {% endif %}

</body>
</html>